.stopa {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: khaki;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.autor {
    background-color: rgb(36, 129, 133);
    text-align: right;
    color:rgb(224, 212, 204);
    padding: 10px;
}

.button {
    color:crimson;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    padding: 10px;
    background-color: cyan;
    position: relative; left: 700px; top: 0px;
    
    :hover{
        background-color: darkblue;
        color:darkgray;
        padding: 0px;

        
    }

}

.stopka {
    background-color: darkgreen;
    color: rgb(235, 231, 231);
    text-align: center;
    padding: 10px;
}