<app-header>
    <span title>My Todo list</span>
  </app-header>
  <div class="jumbotron">
    <div class="container">
      <div class="card-body">
        <form [formGroup]="todoForm">
          <div class="d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="Add your todo item..."
              formControlName="description"
            />
            <button class="btn btn-primary font-weight-bold" [disabled]="todoForm.invalid" (click)="addTodo()">
              Add
            </button>
          </div>
          <p class="sda-error" *ngIf="todoForm.get('description').dirty && !todoForm.get('description').valid">This field is required!</p>
        </form>
        <div class="sda-list-wrapper" *ngIf="todoList.length > 0; else emptyStateForTodoItems">
          <ul class="sda-list-wrapper__list d-flex flex-column">
            <li *ngFor="let todo of todoList; let i = index; first as isFirst; last as isLast">
              <app-todo-item [todo]="todo" [isFirst]="isFirst" (removeItem)="removeTodo($event)"></app-todo-item>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyStateForTodoItems>
    <div class="jumbotron">
      <div class="container">
        <div class="display-4">
          No todo items!
        </div>
      </div>
    </div>
  </ng-template>