@import "../../varriables.scss";
.header {
    background-color: $color-thirdary;
    padding: $space-default;
    color: red;
    text-align: center;
    display: inline-block;
    .playing{
        padding: 10;
        color: red;
        background-color: blue;
        

        
    }    

    &--logo {
        display: inline-block;
        margin: 20px 20px 20px 20px;
        color: $color-secondary;
        font-weight: 900;
        font-size: 40px;
        cursor: pointer;
    }
}